#Content {
	margin: 0 auto;
	position: relative;
	width: 400px;
	height: 250px;
	background: #4cbfee;
	text-align: center;
	font-family: sans-serif;
	color: white;
	border-radius: 10px;
}

#Counter {
	position: relative;
	top: 50px;
}

button {
	position: absolute;
	top: 150px;
	left: 50px;
	height: 75px;
	width: 300px;
	background: #7DD0F2;
	color: white;
	font-size: 35px;
	border-radius: 10px;
	border: none;
}

button:focus {
    outline: 0;
}